@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wdth,wght@0,65..125,100..900;1,65..125,100..900&display=swap");

h1 {
    font-size: 1.6rem;
}

p, ol, ul, blockquote, pre, code {
    line-height: 1.4rem;
}

body {
    font-family: "Archivo";
}